.hero_section {
  min-height: 100vh;
  padding-top: 220px;
  padding-bottom: 150px;
  box-sizing: border-box;
  background: url('../../assets/hero-image.png');
  background-repeat: no-repeat;
  background-position: 45vw -45px;
  background-size: 60vw;
  background-color: #dbeffd;
  display: flex;
  align-items: center;
}

.container {
  padding-left: 125px;
  padding-right: 125px;
}

.hero_container {
  max-width: 42vw;
}

.hero_section h1 {
  font-size: 5.75em;
  margin-bottom: 120px;
}

.search {
  display: flex;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  margin-bottom: 150px;
}

.hero_section .search input {
  padding: 26px;
  padding-left: 75px;
  width: 20vw;
  font-size: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hero_section .search input::placeholder {
  color: #d0d1d5;
}

.search_icon {
  width: 30px;
  position: absolute;
  z-index: 2;
  margin-left: 25px;
}

.hero_section .search .btn {
  font-weight: 500;
  padding: 27px 37px;
  font-size: 28px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.author_name {
  color: var(--primary);
}
