.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 73px;
  box-sizing: border-box;
  width: 100vw;
  transition: all 0.3s ease;
}

.logo {
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.15px;
  color: #5a54f2;
  user-select: none;
  margin-right: 5px;
  transition: font-size 0.3s ease;
}

.logo:hover {
  border: none;
}

.nav_link {
  font-size: 20px;
  margin-left: 40px;
  user-select: none;
  transition: all 0.3s ease-out;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav_link:hover {
  color: #5a54f2;
  transition: all 0.3s ease-out;
}

.nav_link:active {
  opacity: 0.5;
}

.link_container {
  display: flex;
  align-items: center;
}

.nav-btn {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding: 15px 36px;
  border-radius: 10px;
  transition: font-size 0.3s ease, opacity 0.3s ease-out;
}
