.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  box-sizing: border-box;
  width: 100vw;
  transition: all 0.3s ease;
}

.logo {
  width: 140px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.nav_link {
  font-size: 24px;
  margin-left: 50px;
  user-select: none;
  transition: all 0.3s ease;
}

.nav_link:hover {
  text-decoration: underline;
}

.nav_link:active {
  opacity: 0.5;
}

.link_container {
  display: flex;
  align-items: center;
}

.nav-btn {
  padding: 20px 40px;
  font-weight: 600;
  font-size: 1.5em;
  border-radius: 10px;
  transition: all 0.3s ease;
}
