.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 73px;
  box-sizing: border-box;
  width: 100vw;
  transition: all 0.3s ease;
}

.logo {
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.15px;
  color: #5a54f2;
  user-select: none;
  margin-right: 5px;
  transition: font-size 0.3s ease;
}

.logo:hover {
  border: none;
}

.nav_link {
  font-size: 20px;
  margin-left: 40px;
  user-select: none;
  transition: all 0.3s ease-out;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav_link:hover {
  color: #5a54f2;
  transition: all 0.3s ease-out;
}

.nav_link:active {
  opacity: 0.5;
}

.link_container {
  display: flex;
  align-items: center;
}

.nav-btn {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding: 15px 36px;
  border-radius: 10px;
  transition: font-size 0.3s ease, opacity 0.3s ease-out;
}

@media all and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .nav-mobile {
    background-color: white;
    position: fixed;
    padding: 3vh 10vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-mobile ion-icon {
    font-size: 32px;
    color: var(--primary);
  }

  .dropdown-container {
    position: absolute;
    background-color: var(--light);
    right: 0;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    z-index: 2;
  }

  .dropdown-item {
    padding: 20px 25px;
    min-width: 175px;
  }

  .dropdown-item:hover {
    background-color: #5a53f21a;
  }

  .menu-container {
    position: relative;
  }

  .trans {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    height: 100vh;
    visibility: hidden;
  }

  .logo {
    font-size: 36px;
  }
}

@media all and (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}
